{
  "extends": "godaddy",
  "env": {
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": [
    "eslint-plugin-import",
    "eslint-plugin-json"
  ],
  "rules": {
    "no-process-env": 0
  }
}
